<div class="row">
  <div class="col s12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h2>Afiliados</h2>
  </div>
</div>
<div class="row">
  <div class="col s12">

    <div class="card">
      <table class="striped hightlight centered responsive-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Cellphone</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @affiliates.each do |affiliate| %>
            <tr>
              <td><%= affiliate.name %></td>
              <td><%= affiliate.cellphone %></td>
              <td><%= link_to 'Ver +', affiliate %></td>
              <td><%= link_to 'Editar', edit_affiliate_path(affiliate) %></td>
              <td>
                <%= link_to 'Apagar', affiliate, method: :delete, data: { confirm: 'Esta certo disso? Esta ação não pode ser desfeita' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <%= link_to 'Nova conta de afiliado', new_affiliate_path %> 
    <br />
    <%= link_to 'Novo afiliado', new_affiliate_path %> (Requer a criação de uma conta de afiliado)
    <hr />
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h2>Eventos</h2>
  </div>
</div>
<div class="row">
  <div class="col s12">

    <div class="card">
      <table class="striped hightlight centered responsive-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th colspan="5"></th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.description %></td>
              <td><%= link_to 'Ver +', event %></td>
              <td><%= link_to 'Editar', edit_event_path(event) %></td>
              <td>
                <%= link_to 'Apagar', event, method: :delete, data: { confirm: 'Esta certo disso? Esta ação não pode ser desfeita' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <%= link_to 'Novo evento', new_event_path %>
  </div>
</div>