<p id="notice"><%= notice %></p>

<h1>Events</h1>

  <div class="row">
    <% @events.each do |event| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://via.placeholder.com/150x100.png">
          <span class="card-title"><%= link_to event.name, event %></span>
        </div>
        <div class="card-content">
          <p>
            <%= event.description %>
          </p>
        </div>
        <div class="card-action">
          <% if admin_signed_in? %>
            <%= link_to 'Cancelar', event, method: :delete, data: { confirm: 'Tem certeza? Esta ação não pode ser desfeita' } %>
          <% end %>
        </div>
      </div>
    </div>
        <% # = link_to 'Show', event %>
        <% # = link_to 'Edit', edit_event_path(event) %>    
    <% end %>
  </div>

<br>

<% if admin_signed_in? %>
  <%= link_to 'Criar novo evento', new_event_path %>
<% end %>