<div class="row">
<%= form_with(model: person_datum, local: true) do |form| %>
  <% if person_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_datum.errors.count, "error") %> prohibited this person_datum from being saved:</h2>

      <ul>
      <% person_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.datetime_select :birthdate %>
  </div>

  <div class="field">
    <%= form.label :rg %>
    <%= form.text_field :rg %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.hidden_field :people_id, value: current_person.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
