<div class="row">
  <div class="col s12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<% if @registrateUser != nil %>
  <div class="row">
    <div class="col s12">
      <p>
        Seu perfil não está completo <%= link_to 'Click aqui', new_person_datum_path %> para concluir
        o seu cadastro.
      </p>      
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col s12">
      <h3>Meus Ingressos</h3>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table>
        <thead>
          <tr>
            <th>Ingresso</th>
            <th>Evento</th>
            <th colspan="2">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% i = 0 %>
          <% @ticket.each do |ticket| %>
            <% if i == 0 %>
              <tr>
                <td class="blue">
                  <%= ticket.description %>
                </td>
                <td><%= ticket.event.description %></td>
                <td>
                  <%= link_to 'Ver evento', ticket %>
                </td>
              </tr>
            <% else %>
              <tr>
                <td>
                  <%= ticket.description %>
                </td>
                <td><%= ticket.event.description %></td>
                <td>
                  <%= link_to 'Ver evento', ticket %>
                </td>
                <td>
                  <%= link_to 'Presentear', edit_ticket_path(ticket) %>
                </td>
              </tr>
            <% end %>
            <% i = i + 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>