<p id="notice"><%= notice %></p>

<h3>Ingressos</h3>

<% @ticket.each do |ticket| %>
  <%= ticket.description %>
  <%= current_person.id %>
  <%= ticket.event.description %>
  <%= link_to 'Ver evento', ticket %>
  <%= link_to 'Presentear', edit_ticket_path(ticket) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Birthdate</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @person_data.each do |person_datum| %>
      <tr>
        <td><%= person_datum.username %></td>
        <td><%= person_datum.name %></td>
        <td><%= person_datum.lastname %></td>
        <td><%= person_datum.birthdate %></td>
        <td><%= person_datum.rg %></td>
        <td><%= person_datum.cpf %></td>
        <td><%= link_to 'Show', person_datum %></td>
        <td><%= link_to 'Edit', edit_person_datum_path(person_datum) %></td>
        <td><%= link_to 'Destroy', person_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person Datum', new_person_datum_path %>
